@import "tailwindcss";
:root {
    --background: #E7FAFE;
    --foreground: #000000;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter);
}

@layer components {
    .typography {
        p {
            font-size: var(--text-sm);
            color: rgb(var(--color-black) / 0.6);
            @media (min-width: 640px) {
                font-size: var(--text-base);
            }
        }
        h1 {
            font-size: var(--text-xl);
            font-weight: var(--font-weight-semibold);
            color: var(--color-gray-950);
            @media (min-width: 640px) {
                font-size: var(--text-2xl);
            }
            @media (min-width: 768px) {
                font-size: var(--text-3xl);
            }
        }
        h2 {
            font-size: var(--text-xl);
            font-weight: var(--font-weight-semibold);
            color: var(--color-black);
            @media (min-width: 640px) {
                font-size: var(--text-2xl);
            }
            @media (min-width: 768px) {
                font-size: var(--text-3xl);
            }
            @media (min-width: 1024px) {
                font-size: var(--text-5xl);
                line-height: normal;
            }
        }
        h3 {
            font-size: var(--text-lg);
            font-weight: var(--font-weight-semibold);
            color: var(--color-black);
            @media (min-width: 640px) {
                font-size: var(--text-xl);
            }
            @media (min-width: 768px) {
                font-size: var(--text-2xl);
               
            }
        }
        h4 {
            font-size: var(--text-base);
            font-weight: var(--font-weight-semibold);
            color: var(--color-black);
            @media (min-width: 640px) {
                font-size: var(--text-base);
            }
            @media (min-width: 768px) {
                font-size: var(--text-lg);
            }
        }
    }
    .container {
        @apply px-4 md:px-8 lg:px-12 xl:px-16 mx-auto
    }
    .space-y-112{
        @apply py-12 sm:py-14 md:py-16 lg:py-20 xl:py-24 2xl:py-28
    }
}

body {
    color: var(--foreground);
}